<md-dialog aria-label="addSprint">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>New Sprint</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        X
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="width:500px;height:210px;">
    <div layout="column" layout-align="center center">
      <div flex="100" style="width: 90%;">
        <form name="addSprint">
          <br>
          <md-input-container class="md-block">
            <label>Title</label>
            <input required md-no-asterisk name="title" ng-model="sprintTitle">

            <div ng-messages="addSprint.title.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </form>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="addSprint.$valid && answer(sprintTitle)" style="margin-right:20px;">
      Add
    </md-button>
  </md-dialog-actions>

</md-dialog>
